<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Album {{album.nom_album}}</title>
</head>
<body>
    <h1>Album {{albums.nom_album}}</h1>
    <p> Nom de l'album: {{albums.nom_album}} </p>
    <p> Groupe/Chanteur: {{albums.Groupe_chanteur}} </p>
    <p> Année de parution: {{albums.annee}} </p>
    <p> Nombre de titre dans l'album: {{albums.nbr_titre}} </p>
    <form action="/album/">
        <button type="submit" class="button">Album</button>
    </form>
</body>
</html>